table{
	border-collapse: collapse;
}
td{
	text-align: center;
}
table td:last-child{
	text-align: left;
}
.table-data_green{
	background-color: #0F8012;
	color: white;
}
.table-data_border-bold{
	border: 4px double black;
	text-align: right;
	color: #3F3FFC;
}
